<div class="margin-container" fxLayout="row wrap" fxLayoutAlign="center space-between">
  <div class="grid">
    <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

        <div fxFlex.gt-sm="65" fxFlex.gt-xs="100">
          <div class="image-principal-container" fxLayoutAlign="center center">
            <img class="image-principal" [src]="urlImage" />
          </div>
          <hr />
          <div>
            <h4>Descripción</h4>
            <div>
              {{product.description}}
            </div>
          </div>
        </div>
        <div fxFlex.gt-sm="30" fxFlex.gt-xs="100">
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
            <h3>{{product.title}}</h3>
            <h2>{{product.price | currency}}</h2>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
            <span fxFlex.gt-sm="100">Disponibles: {{20}}</span>
            <button mat-icon-button (click)="decrement()">
              <mat-icon>minimize</mat-icon>
            </button>
            <mat-form-field fxFlex="10">
              <input matInput name="amount" [(ngModel)]="amount">
            </mat-form-field>
            <button mat-icon-button (click)="increment()">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
            <button mat-flat-button fxFlex="100" color="primary">Comprar</button>
            <button mat-flat-button fxFlex="100" color="accent" (click)="addToCart()">Agregar al carrito</button>
  
            <div fxFlex="100">
              <mat-icon style="color:yellow">star</mat-icon>
              <mat-icon style="color:yellow">star</mat-icon>
              <mat-icon style="color:yellow">star</mat-icon>
              <mat-icon style="color:yellow">star</mat-icon>
              <mat-icon style="color:yellow">star</mat-icon>
            </div>
  
            <p><mat-icon>shield</mat-icon>Compra protegida, certificado ssl compra 100% segura</p>  
          </div>
          

        </div>
      </div>
    </mat-card>

    <br />
    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%" 
        fxLayoutAlign.xs="space-between center" fxLayout.xs="column wrap">
      <h2 fxFlex="100">Productos relacionados</h2>
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
    </div>

  </div>
</div>
