@import "./src/styles-variables";

.loginContainer {

  .login {
    width: 100%;
    height: 100%;
    min-height: 470px;
    max-height: calc(100vh - 76px);
    padding: 2vh 0;
    justify-content: center;
    align-items: baseline;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .mat-card {
      max-width: 450px;
      width: 100%;
      padding: 2rem 2.5rem;
      box-sizing: border-box;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      background-color: $back-card;
      border-radius: 5px;
      border-top: 5px solid $base-color;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 4vh;
      font-weight: 500;
      text-transform: uppercase;
    }

    img {
      width: 100%;
      /*max-width: 16vh;*/
    }

    .mat-form-field {
      width: 100% !important;
    }

    p {
      margin-bottom: 0
    }

    .mat-icon {
      color: $color-secondary
    }

    p:first-of-type {
      margin-top: 4rem;
    }

    .remind {
      margin: 0.5rem 0 1rem 0;
    }

    .btn {
      margin: 1.5rem 0;
      max-width: 100%;
    }

    button {
      min-width: 140px;
      line-height: 45px;
      background-color: $btn-color;
    }
  }
}


.mat-form-field-invalid mat-icon {
  color: #f42534 !important;
}

@media only screen and (max-width: 800px) {
  .login {
    .mat-card {
      max-width: 90%;
      width: 100%;
      padding: 1rem 2.5rem !important;
      box-sizing: border-box;
    }
  }
}
