<div class="margin-container" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1%">

  <div class="grid">

    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

      <div fxFlex="64">

        <div class="cart-item">
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasn</p>
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasnaksn dijasndijasndijans dijansdijansdijanjdiaaksn dkja nsdjan</p>
        </div>
        <div class="cart-item">
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasn</p>
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasnaksn dijasndijasndijans dijansdijansdijanjdiaaksn dkja nsdjan</p>
        </div>
        <div class="cart-item">
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasn</p>
          <p>kjdjfiand ijandijasdniajsdnaijn ian sijdnajidasnaksn dijasndijasndijans dijansdijansdijanjdiaaksn dkja nsdjan</p>
        </div>

      </div>
      <div fxFlex="34">
        <div class="cart-coupon">
          <mat-form-field>
            <input matInput placeholder="Cupón descuento">
          </mat-form-field>
          <button mat-flat-button color="accent">Aplicar</button>
        </div>
        <div class="cart-resume">
          <h2>Resumen de la compra</h2>
          <hr />
          <h5>Subtotal: <strong>{{1500.60 | currency}}</strong></h5>
          <h3>Total: <strong>{{1500.60 | currency}}</strong></h3>
        </div>
        <button mat-flat-button color="primary">Continuar comprando</button>
        <button mat-flat-button color="accent">Finalizar Comprar</button>
      </div>


    </div>

  </div>
</div>
