<div class="margin-container" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1%">

  <div class="grid">

    <div *ngIf="!showCart" class="withoutItems" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">
      <div fxFlex="100">
        <h3>No hay items en el carrito de compras</h3>
      </div>
    </div>


    <div *ngIf="showCart" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

      <div fxFlex.gt-sm="64" fxFlex.gt-xs="100">
        <app-cart-item *ngFor="let cartItem of cartItems" [cart-item]="cartItem"></app-cart-item>
      </div>

      <div fxFlex.gt-sm="34" fxFlex.gt-xs="100">
        <div class="cart-coupon">
          <mat-form-field fxFlex="100" appearance="fill">
            <input matInput class="newsletter-mail" placeholder="Cupón descuento" autocomplete="off">
            <mat-icon style="cursor:pointer" matSuffix>arrow_forward</mat-icon>
          </mat-form-field>
        </div>
        <div class="cart-resume">
          <h2>Resumen de la compra</h2>
          <hr />
          <h5>Subtotal: <strong>{{subtotal | currency}}</strong></h5>
          <h5>Descuento: <strong>{{totalDiscount | currency}}</strong></h5>
          <h3>Total: <strong>{{total | currency}}</strong></h3>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">
          <button fxFlex="100" mat-flat-button color="accent">Continuar comprando</button>
          <button fxFlex="100" mat-flat-button color="primary">Finalizar Comprar</button>
        </div>

      </div>


    </div>

  </div>
</div>
