<div class="margin-container" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1%">

  <div class="grid">

    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

      <div fxFlex.gt-sm="64" fxFlex.gt-xs="100">
        <app-summary-item></app-summary-item>
        <app-summary-item></app-summary-item>
        <app-summary-item></app-summary-item>
        <app-summary-item></app-summary-item>
      </div>

      <div fxFlex.gt-sm="34" fxFlex.gt-xs="100">
        <div class="cart-coupon">
          <mat-form-field>
            <input matInput placeholder="Cupón descuento">
          </mat-form-field>
          <button mat-flat-button color="accent">Aplicar</button>
        </div>
        <div class="cart-resume">
          <h2>Resumen de la compra</h2>
          <hr />
          <h5>Subtotal: <strong>$1500.60</strong></h5>
          <h3>Total: <strong>$1500.60 </strong></h3>
        </div>
        <button mat-flat-button color="primary">Continuar comprando</button>
        <button mat-flat-button color="accent">Finalizar Comprar</button>
      </div>


    </div>

  </div>
</div>
