<div class="margin-container" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1%">

  <div class="grid">

    <div class="search" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">
      <mat-form-field fxFlex.gt-sm="70" fxFlex.gt-xs="100">
        <input matInput placeholder="Buscar">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Ordernar por" fxFlex.gt-sm="70" fxFlex.gt-xs="100" [(ngModel)]="this.filters.orderBy">
          <mat-option [value]="1">Más relevante</mat-option>
          <mat-option [value]="2">Menor precio</mat-option>
          <mat-option [value]="3">Mayor precio</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="space-line"></div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

      <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" class="filters" fxLayout="column wrap"
      fxLayout.xs="row wrap" fxLayoutAlign.xs="space-between">
        <mat-form-field>
          <mat-select placeholder="Categorías" multiple>
            <mat-option [value]="1">Zapatillas</mat-option>
            <mat-option [value]="2">Botines</mat-option>
            <mat-option [value]="3">Ojotas</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Marcas" multiple>
            <mat-option [value]="1">Adidas</mat-option>
            <mat-option [value]="2">Nike</mat-option>
            <mat-option [value]="3">Fila</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex.gt-sm="70" fxFlex.gt-xs="100">
        <mat-card>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>

            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>

            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
          </div>
        </mat-card>
        <mat-paginator [length]="20"></mat-paginator>
      </div>

    </div>


  </div>

</div>
