<mat-card (mouseover)="onHover=true" (mouseout)="onHover=false" (click)="viewProductDetail(1)">
    <img mat-card-image src="https://picsum.photos/200" alt="Photo of a Shiba Inu">
  <!--<div class="img-container" fxLayout="row" fxLayoutAlign="center center">
  </div>-->
  <mat-card-content>
    <mat-card-title>{{1500 | currency}}</mat-card-title>
    <mat-card-subtitle [ngClass]="{ 'hover': onHover }" style="display:none">Producto - Dog Breed Produc</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions dir="rtl">
    <button mat-icon-button [ngClass]="{ 'hover':  onHover }" style="display:none">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
