<div class="back-grid medium-grid">
  <!--mat-elevation-z8-->
  <mat-card class="capture-card">
    <div class="flex titles valign-wrapper">
      <i class="material-icons">inventory_2</i><h2>Productos</h2>
      <mat-divider></mat-divider>
    </div>

    <div class="loading-shade"
         *ngIf="isLoadingResults || hasError">
      <mat-spinner *ngIf="isLoadingResults && !hasError"></mat-spinner>
      <div *ngIf="hasError" class="error mat-typography">Ha ocurrido un error</div>
    </div>

    <div class="filters">
      <form #filterForm="ngForm" class="flex" align="space-between" flex-wrap="wrap">
        <mat-form-field class="col12">
          <input matInput placeholder="Buscar" name="filter" [(ngModel)]="this.filter.freeText">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <div class="table-container">
      <table mat-table matSort [dataSource]="data" matSortActive="brand" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="isDiscount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Es Oferta</th>
          <td mat-cell *matCellDef="let element">
            <i *ngIf="element.isDiscount" class="material-icons">check_circle</i>
            <i *ngIf="!element.isDiscount" class="material-icons">cancel</i>
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
          <td mat-cell *matCellDef="let element">
            <i *ngIf="element.isActive" class="material-icons">check_circle</i>
            <i *ngIf="!element.isActive" class="material-icons">cancel</i>
          </td>
        </ng-container>

        <ng-container matColumnDef="tools" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button matTooltip="Crear" (click)="edit()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <div id="respons_opc">
              <div class="cont_act_menu">
                <button mat-icon-button matTooltip="Eliminar" (click)="delete(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Editar" (click)="edit(element.productId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="resultsLength"></mat-paginator>
    </div>
  </mat-card>
</div>
