/* Structure */
.container {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  /*max-height: 400px;*/
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/*Filtros*/
.filters {
  padding: 20px 20px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100% !important;
}

.grid {
  padding: 1rem;
}

th button {
  color: #000;
}

/*Responsive*/
.no-scrollx {
  overflow: hidden !important;
  overflow-x: hidden !important;
}

.row_scrollX {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

/*BTN mobile*/
.btn_mobile_opc {
  display: none;
}

#actions-sales {
  display: contents;
}

#respons_opc {
  display: flex;
  justify-content: flex-end;
}

.cont_act_menu {
  width: inherit;
  display: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.mat-column-tools{
  position: relative !important;
}*/

@media (max-width: 800px) {
  .btn_mobile_opc {
    display: block;
  }

  #actions-sales {
    display: flex;
  }

  .cont_act_menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
