<mat-toolbar color="primary" class="main">
  <mat-toolbar-row>
    <a routerLink="/admin">
      <img src="assets/logo.svg" class="logo" />
    </a>
    <span class="topmenu-spacer"></span>
    <!--Menú para el usuario no logeado-->
    <ng-container *ngIf="userService.myUser === null">
      <div class="menu-desktop">
        <a mat-button [matMenuTriggerFor]="menuLang">
          <mat-icon>language</mat-icon>
          &nbsp;<ng-container>Idioma</ng-container>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menuLang="matMenu">
          <a mat-menu-item href="/es/admin" [class.active]="locale == 'es'"><mat-icon>flag</mat-icon>Español</a>
          <a mat-menu-item href="/ca/admin" [class.active]="locale == 'ca'"><mat-icon>flag</mat-icon>Català</a>
        </mat-menu>
        <mat-menu #menuLang2="matMenu">
          <a mat-menu-item href="/es/admin" [class.active]="locale == 'es'"><mat-icon>flag</mat-icon>Español</a>
          <a mat-menu-item href="/ca/admin" [class.active]="locale == 'ca'"><mat-icon>flag</mat-icon>Català</a>
        </mat-menu>
      </div>
      <!--Menu responsive-->
      <div id="mobile_menu" class="menu-mobile">
        <button mat-button [matMenuTriggerFor]="mobile_men">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mobile_men="matMenu">
          <ng-container>
            <button mat-menu-item [matMenuTriggerFor]="menuLang2">
              <mat-icon>language</mat-icon> <ng-container>Idioma</ng-container>
            </button>
          </ng-container>
        </mat-menu>
      </div>
    </ng-container>
    <!--Menú para el usuario logeado-->
    <ng-container *ngIf="userService.myUser != null">
      <div class="menu-desktop">
        <ng-container *ngIf="userService.hasRole([UserRole.Admin])">
          <a mat-button [matMenuTriggerFor]="adminMenu"><mat-icon>settings</mat-icon>&nbsp;<ng-container>Configuración</ng-container><mat-icon>arrow_drop_down</mat-icon></a>
          <mat-menu #adminMenu="matMenu">
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/entidades"><mat-icon>business</mat-icon><ng-container>Entidades</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/clases"><mat-icon>groups</mat-icon><ng-container>Clases</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/categorias"><mat-icon>category</mat-icon><ng-container >Categorías</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/usuarios"><mat-icon>person</mat-icon><ng-container >Usuarios</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/torneos"><mat-icon>emoji_events</mat-icon><ng-container>Torneos</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/preguntas"><mat-icon>question_answer</mat-icon><ng-container>Preguntas</ng-container></a>
          </mat-menu>
        </ng-container>
        <ng-container *ngIf="userService.hasRole([UserRole.Admin])">
          <a mat-button [matMenuTriggerFor]="reportsMenu"><mat-icon>description</mat-icon>&nbsp;<ng-container>Reportes</ng-container><mat-icon>arrow_drop_down</mat-icon></a>
          <mat-menu #reportsMenu="matMenu">
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/reportes/participaciones"><mat-icon>business</mat-icon><ng-container i18n>Participaciones</ng-container></a>
          </mat-menu>
        </ng-container>
        <a mat-button [matMenuTriggerFor]="menuLang">
          <mat-icon>language</mat-icon>
          &nbsp;<ng-container>Idioma</ng-container>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menuLang="matMenu">
          <a mat-menu-item href="/es/admin" [class.active]="locale == 'es'"><mat-icon>flag</mat-icon> Español</a>
          <a mat-menu-item href="/ca/admin" [class.active]="locale == 'ca'"><mat-icon>flag</mat-icon> Català</a>
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="meMenu"><mat-icon>person</mat-icon> {{ userService.myUser.username }}<mat-icon>arrow_drop_down</mat-icon></a>
        <mat-menu #meMenu="matMenu">
          <a mat-menu-item (click)="changePassword()"><mat-icon>lock</mat-icon><ng-container>Cambiar contraseña</ng-container></a>
          <a mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon><ng-container>Salir</ng-container></a>
        </mat-menu>
      </div>

      <!--Menu responsive-->
      <div id="mobile_menu" class="menu-mobile">
        <button mat-button [matMenuTriggerFor]="mobile_men">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #mobile_men="matMenu">
          <ng-container>
            <button mat-menu-item [matMenuTriggerFor]="Setting2"
                    *ngIf="userService.hasRole([UserRole.Admin])">
              <mat-icon>settings</mat-icon> <ng-container >Configuración</ng-container>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="menuLang2">
              <mat-icon>language</mat-icon> <ng-container >Idioma</ng-container>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="admin2Menu"><mat-icon>person</mat-icon> {{ userService.myUser.username }}</button>
          </ng-container>
        </mat-menu>

        <mat-menu #Setting2="matMenu">
          <ng-container *ngIf="userService.hasRole([UserRole.Admin])">
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/entidades"><mat-icon>business</mat-icon><ng-container >Entidades</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/clases"><mat-icon>groups</mat-icon><ng-container >Clases</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/categorias"><mat-icon>category</mat-icon><ng-container >Categorías</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/usuarios"><mat-icon>person</mat-icon><ng-container >Usuarios</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/torneos"><mat-icon>emoji_events</mat-icon><ng-container >Torneos</ng-container></a>
            <a mat-menu-item routerLinkActive="active" routerLink="/admin/preguntas"><mat-icon>question_answer</mat-icon><ng-container >Preguntas</ng-container></a>
          </ng-container>
        </mat-menu>

        <mat-menu #menuLang2="matMenu">
          <a mat-menu-item href="/es/admin" [class.active]="locale == 'es'"><mat-icon>flag</mat-icon> Español</a>
          <a mat-menu-item href="/ca/admin" [class.active]="locale == 'ca'"><mat-icon>flag</mat-icon> Català</a>
        </mat-menu>

        <mat-menu #admin2Menu="matMenu">
          <a mat-menu-item (click)="changePassword()"><mat-icon>lock</mat-icon> <ng-container >Cambiar contraseña</ng-container></a>
          <a mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon><ng-container >Salir</ng-container></a>
        </mat-menu>

      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
