<div class="cart-item">
  <table>
    <tbody>
      <tr fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="1%">
        <td fxFlex.gt-sm="15" fxFlex.gt-xs="100" fxLayoutAlign="start center">
          <img src="https://picsum.photos/200" style="width:100px" />
        </td>
        <td fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxLayoutAlign="center center">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h4 fxFlex="100">{{cartItem.title}}</h4>
            <p fxFlex="100">{{cartItem.description}}</p>
          </div>
        </td>
        <td fxFlex.gt-sm="12" fxFlex.gt-xs="100" fxLayoutAlign="center center">
          {{cartItem.price | currency}}
        </td>
        <td fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxLayoutAlign="center center">
          <button mat-mini-fab (click)="decrement()">-</button>
          &nbsp;&nbsp;{{ cartItem.amount }}&nbsp;&nbsp;
          <button mat-mini-fab (click)="increment()">+</button>
        </td>
        <td fxFlex.gt-sm="12" fxFlex.gt-xs="100" fxLayoutAlign="center center">
          <strong>{{cartItem.price * cartItem.amount | currency}}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
