@import "./src/styles-variables";

mat-toolbar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content:center;
  max-height: 100px!important;

  .space-between {
    flex: 1 1 auto;
  }
}

footer {
  background-color: $color-footer-background;
  border-top: 1px solid #bbb;
  text-align: center;
  height: 100%;
  margin-top: 3%;

  .social-button-container {
    display: flex;
    justify-content: center;
    width: 80px;
  }

  .byter-footer {
    background-color: #000;
    padding-bottom: 3%;
  }
}
