<mat-toolbar>
  <mat-toolbar-row>
    <ng-container class="grid">
      <span>eCommerce</span>
      <span class="space-between"></span>
      <ng-container>
        <button mat-icon-button>
          <mat-icon matBadgeColor="warn">favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ng-container class="grid">
      <a mat-button [routerLinkActive]="['active']" [routerLink]="['/']"><mat-icon>home</mat-icon>&nbsp; Inicio</a>
      <a mat-button [routerLinkActive]="['active']" [routerLink]="['/tienda/productos']"><mat-icon>storefront</mat-icon>&nbsp; Productos</a>
      <a mat-button [routerLinkActive]="['active']" [routerLink]="['/contacto']"><mat-icon>contact_page</mat-icon>&nbsp; Contacto</a>
      <a mat-button [routerLinkActive]="['active']" [routerLink]="['/administrador']"><mat-icon>contact_page</mat-icon>&nbsp; Admin</a>
      <!--<ng-container *ngIf="userService.hasRole([UserRole.Admin])">
        <a mat-button [matMenuTriggerFor]="adminMenu"><mat-icon>settings</mat-icon> Herramientas<mat-icon>arrow_drop_down</mat-icon></a>
        <mat-menu #adminMenu="matMenu">
          <a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['/importar']"><mat-icon>publish</mat-icon>Importar</a>
          <a mat-menu-item [routerLinkActive]="['active']" [routerLink]="['/admin/cerrar-reportes']"><mat-icon>fact_check</mat-icon>Cerrar Reportes</a>
        </mat-menu>
      </ng-container>-->
      <span class="space-between"></span>
      <button mat-icon-button [routerLinkActive]="['active']" [routerLink]="['/tienda/carrito']">
        <mat-icon matBadge="{{amountItemsInCart}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1%">
  <div class="grid">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1%">

      <div fxFlex="100">
        <h2>Subscribite a nuestro NEWSLETTER</h2>
      </div>
      <div fxFlex="100">
        <p>y recibí en tu e-mail novedades, descuentos e inspiración ♥</p>
      </div>
      <mat-form-field fxFlex="100" appearance="fill">
        <input matInput class="newsletter-mail" autocomplete="off">
        <mat-icon style="cursor:pointer" matSuffix>arrow_forward</mat-icon>
      </mat-form-field>


      <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="space-between">
        <h4 fxFlex="100">Seguinos en nuestras redes</h4>
        <div class="social-button-container">
          <button mat-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="social-button-container">
          <button mat-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="social-button-container">
          <button mat-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="social-button-container">
          <button mat-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>

      <div fxFlex="30">
        <h3>Contactanos</h3>
        <p>1136262996</p>
        <p>contacto@ecommerce.com.ar</p>
        <p>...</p>
      </div>

      <div fxFlex="30">
        <p>Inicio</p>
        <p>Productos</p>
        <p>Contacto</p>
        <p>...</p>
      </div>

    </div>
  </div>
</footer>
