mat-toolbar {
  background: #000;
  color: #fff;
  margin-bottom: 3%;
  .space-between {
    flex: 1 1 auto;
  }
}

.grid {
  max-width: 1215px!important;
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
  height: 100%;
  margin-top: 3%;
  padding-bottom: 3%;
  display:flex;
  justify-content:center;

  .social-button-container {
    display: flex;
    justify-content: center;
    width: 80px;
  }
}
